<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
      <form method="post">
        <div class="box">
            <form>
              <span class="text-center">Email</span>
  <input type="email" name="to" placeholder="E-mail" required>
  <input type="text" name="subjekt" placeholder="Betreff" required>
  <textarea name="text" placeholder="Deine Nachricht" rows="6" value="" required=""></textarea>	
  <input type="submit" name="" value="Email Senden"> 
        </form>	
</html>
